/*  FONTS
 font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Oswald', sans-serif;
 font-family: 'Merriweather', serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Titillium Web', sans-serif;
 font-family: 'PT Sans', sans-serif;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  border: 1px solid #000;
  padding: .7rem 2rem;
  font-size: .875rem;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  margin: 2rem 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: #f2f2f2;
}

.head {
  text-align: center;
  padding: 4em;
  font-size: .6rem;
}

.head h1 {
  font-size: 4.5em;
  font-weight: 400;
  line-height: 1.2;
  max-width: 43.87rem;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .head .head {
    font-size: 1rem;
  }
}

.hero-bg {
  max-width: 71.25rem;
  margin: 0 auto;
  background: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10rem 0;
}

.hero .columns {
  padding: 2rem;
}

.hero .columns .col-2 {
  background: white;
  padding: 2rem;
  margin-top: 2rem;
}

.hero .columns .text-content h5 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 1rem;
}

.hero .columns__2 .col-1 {
  padding: 1rem;
  border: none !important;
}

.hero .columns__2 .col-2 {
  padding: 0;
}

.hero .columns__2 .text-content {
  text-align: center;
}

.hero .columns__2 .text-content h2 {
  font-size: 3em;
  line-height: 1;
}

.hero .columns__2 .text-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1rem;
}

.services {
  padding: 2rem;
  background: #000;
  color: white;
}

.services .service-headings {
  text-align: center;
}

.services .service-headings h5 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 1rem;
}

.services .service-headings h2 {
  font-size: 2.25em;
  line-height: 1;
}

.services .service-headings p {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1rem;
}

.services .card-container {
  padding: 3rem 0;
}

.services .card {
  padding: 1.5rem;
  text-align: center;
}

.services .card h2 {
  font-size: 1.875em;
  margin-top: 1.5rem;
  line-height: 1.2;
}

.services .card p {
  margin-top: 1.25rem;
}

.services .card .icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.service2 .columns .content {
  padding: 1rem 1rem;
  text-align: center;
}

.service2 .columns .content .icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.service2 .columns .content h5 {
  font-size: 1.25em;
  margin-top: 1.25rem;
}

.service2 .columns .content p {
  font-size: 1em;
  margin-top: 1.25rem;
  line-height: 1.6;
}

.service2 .columns .sub-content {
  padding: 2rem 1rem;
  text-align: center;
}

.service2 .columns .sub-content .icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.service2 .columns .sub-content h5 {
  font-size: 1.25em;
  margin-top: 1.25rem;
}

.recent-projects .headings {
  text-align: center;
  background: #000;
  color: white;
  padding: 3rem 1rem;
}

.recent-projects .headings h5 {
  font-size: 1.25em;
}

.recent-projects .headings h2 {
  font-size: 2.25em;
  margin-top: 1.25rem;
}

.map {
  background: white;
}

.map .columns {
  padding: 2rem 0;
}

.map .columns .col-1 {
  padding: 2rem;
}

.map .columns .text-content {
  padding: 2rem;
  text-align: center;
}

.map .columns .text-content h5 {
  font-size: 1.25em;
}

.map .columns .text-content h2 {
  font-size: 2.25em;
  margin-top: 1.25rem;
  line-height: 1.2;
}

.map .columns .text-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1.875rem;
}

.contact {
  background: #000;
  color: white;
  padding: 4rem 0rem;
}

.contact .columns .col {
  padding: 2rem;
}

.contact .columns .text-content {
  text-align: center;
}

.contact .columns .text-content h6 {
  font-size: 1.125em;
  font-weight: 500;
}

.contact .columns .text-content h5 {
  font-size: 1.25em;
  margin-top: 1.875rem;
}

.contact .columns .text-content h2 {
  font-size: 2.25em;
}

.contact .columns .text-content p {
  font-size: 1em;
  margin-top: 1.25rem;
}

footer {
  background: #333333;
  color: white;
}

footer p {
  padding: 2rem;
  text-align: center;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  text-underline-offset: .2em;
  color: #a1a1a1;
}
/*# sourceMappingURL=main.css.map */